{% extends "layout.twig" %}

{% block main_content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Edit Student</h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body text-center">
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label for="image" class="col-sm-4 col-form-label text-left">Profile image</label>
                            <div class="col-sm-8">
                                <input class="form-control dropify" type="file" name="profile" id="input-file-now">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Reg.ID" class="col-sm-4 col-form-label text-left">Reg. No.</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="reg_id" required value="{{ detail.reg_id }}" readonly id="Reg.ID">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-sm-4 col-form-label text-left">Name</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="name" value="{{ detail.name }}" required id="name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fname" class="col-sm-4 col-form-label text-left">Father Name</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="fname" value="{{ detail.father_name }}" id="fname">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mname" class="col-sm-4 col-form-label text-left">Mother Name</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="mname" value="{{ detail.mother_name }}" id="mname">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mobile" class="col-sm-4 col-form-label text-left">Mobile</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="number" name="mobile"  value="{{ detail.mobile }}" required id="mobile">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Email" class="col-sm-4 col-form-label text-left">Email</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="email" name="email" value="{{ detail.email }}" id="email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="address" class="col-sm-4 col-form-label text-left">Address</label>
                            <div class="col-sm-8">
                                <textarea id="textarea" name="address" class="form-control" required maxlength="225" rows="3">{{ detail.address }}</textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="doa" class="col-sm-4 col-form-label text-left">DOA</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="doa" placeholder="mm/dd/yyyy"  value="{{ detail.doa }}" required id="doa">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="dob" class="col-sm-4 col-form-label text-left">DOB</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="dob" placeholder="mm/dd/yyyy"  value="{{ detail.dob }}" required id="dob">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="course" class="col-sm-4 col-form-label text-left">Course</label>
                            <div class="col-sm-8">
                                <select name="course_id" class="select2 required form-control mb-3 custom-select">
                                    <option value="0">Select</option>
                                    {% for course in course_list %}
                                        <option {% if detail.course_id == course.id %}selected{% endif %} value="{{ course.id }}">{{ course.course_name }} ({{ course.duration }})</option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="reg_fee" class="col-sm-4 col-form-label text-left">reg_fee</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="number" name="reg_fee" value="{{ detail.reg_fee }}" required id="reg_fee">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="course_fee" class="col-sm-4 col-form-label text-left">Course Fee</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="number" name="course_fee"  value="{{ detail.course_fee }}" required id="course_fee">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="qualification" class="col-sm-4 col-form-label text-left">Qualification</label>
                            <div class="col-sm-8">
                                <select name="qualification" class="select2 form-control mb-3  required custom-select">
                                    <option>Select</option>
                                    <option {% if detail.qualification == 1 %}selected{% endif %} value="1">10th</option>
                                    <option {% if detail.qualification == 2 %}selected{% endif %} value="2">12th</option>
                                    <option {% if detail.qualification == 3 %}selected{% endif %} value="3">Graduate</option>
                                    <option {% if detail.qualification == 4 %}selected{% endif %} value="4">Post Graduate</option>
                                    <option {% if detail.qualification == 5 %}selected{% endif %} value="5">Any Other</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success"><i class="fas fa-plus-square"></i>&nbsp;Add</button>
                    </form>
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
{% endblock %}


{% block script %}
    <script>
        jQuery('#dob').datepicker();
        jQuery('#doa').datepicker();
        {% if status == 200 %}
        window.alert('User updated successfully.');
        window.location.href = '/admin/student_list.php';
        {% endif %}
        {% if status == 404 %}
        window.alert('Error, Please try again.');
        {% endif %}
    </script>
{% endblock %}